* {
    background-color: blue;
}

h1{
    color: white;
}

p{
    color: white;
}

ul{
    color: white;
}

a{
    color:white;
}

h2{
    color: white;
}

ol{
    color: white;
}

legend{
    color: white;
}